.contactus-wrapper{
    min-height: 100vh;
    padding: 0 10px;
}
.form{
    padding: 5rem 0;
}
.form h2{
    color: var(--primary-color) !important;
    line-height: 100%;
}
button{
    background: var(--primary-color);
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    transition: 0.3s ease;
    border: none !important;
    width: 100%;
}
button:hover{
    transform: translateY(-3px);
    box-shadow: var(--blue-shadow);
}
.form-control{
    box-shadow: none !important;
    border-radius: none !important;
    margin-bottom: 0.5rem;
}

.contact-info .d-flex{
    margin-bottom: 1rem;
}
.contact-info .d-flex i{
    padding: 0.1rem 1rem 1rem 0;
}
.contact-info .d-flex div{
    margin: 0 !important;
    padding: 0;
    line-height: 100%;
}
.contact-info .d-flex div p{
    margin-bottom: 0.5rem;
    color: var(--gray-color);
}

@media (max-width: 768px){
    .contact-info{
        margin-bottom: 3rem;
    }
}