/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* varibles */
:root{
    --body-font: 'Poppins', sans-serif;
    --dark-color: #1e2022;
    --gray-color: #77838f;
    --primary-color: #2380fb;
}

/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    min-height: 200vh;
    font-family: var(--body-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 100px 0;
}
a,
a:hover,
a:focus{
    text-decoration: none !important;
    color: inherit;
}
.btn,
.btn:hover,
.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.error{
    color: red;
    font-size: 1.2rem;
}