/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Poppins&display=swap');

/* varibles */
:root{
    --body-font: 'Poppins', sans-serif;
    --primary-heading: 'Bungee', cursive;
    --secondary-heading: 'Montserrat', sans-serif;
    --dark-color: #3b4a6b;
    --primary-color: #00c4fa;
    --secondary-color: #fff;
    --ternary-color: #f23557;
    --heading-size: 4rem;
    --heading-size2: 3rem;
    --subhead-size: 1.8rem;
    --p-size: 1.5rem;
    --p-size2: 1.2rem;
}

/* global styles */
*,
*:hover,
*:focus{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    min-height: 100vh;
    font-family: var(--body-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 10px;
    position: relative;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    
}
a,
a:hover,
a:focus{
    text-decoration: none !important;
    color: inherit;
}
.btn,
.btn:hover,
.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
.error{
    color: red;
    font-size: 1.2rem;
}